In [1]:
import numpy as np
from scipy import stats

import pandas as pd
import warnings
warnings.filterwarnings('ignore')

import matplotlib.pyplot as plt
%matplotlib inline
import seaborn as sns

sns.set_style("darkgrid")

# load data

In [2]:
#firms = pd.read_excel("data_final.xlsx")
adilibad = pd.read_excel("Adilibad.xlsx")

In [3]:
adilibad

,Year,Incidents of Killing,Civilians,Security Forces,Terrorists/Insurgents/Extremists,Not Specified,Total
0,2000*,9,6,1,2,0,9
1,2001,10,4,4,7,0,15
2,2002,6,3,0,3,0,6
3,2003,9,2,2,12,2,18
4,2004,3,0,0,4,0,4
5,2005,11,6,0,10,0,16
6,2006,3,2,0,1,0,3
7,2007,0,0,0,0,0,0
8,2008,0,0,0,0,0,0
9,2009,1,0,0,3,0,3
10,2010,0,0,0,0,0,0
11,2011,1,0,0,1,0,1
12,2012,0,0,0,0,0,0
13,2013,0,0,0,0,0,0
14,2014,0,0,0,0,0,0
15,2015,0,0,0,0,0,0
16,2016,0,0,0,0,0,0
17,2017,0,0,0,0,0,0
18,2018,0,0,0,0,0,0
19,2019,0,0,0,0,0,0
20,2020,0,0,0,0,0,0
21,Total**,53,23,7,43,2,75

In [8]:
adilibad[adilibad["Year"].s "2007"]

TypeError: '>=' not supported between instances of 'int' and 'str'